#root {
    width: 100vw;
    height: 100vh;
}

.app-main {
    width: 100%;
    height: 100%;
}

/* Flex Classes */
.inflex {
    display: inline-flex;
    flex-direction: row;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-left {
    display: flex;

    justify-content: flex-start;
    justify-items: flex-start;
}

.flex-right {
    display: flex;

    justify-content: flex-end;
    justify-items: flex-end;
}

/* Header-Specific */
.header-flex,
.header-sub {
    flex-grow: 1;
    flex-basis: content;
    align-items: baseline;
}

.header-flex>*,
.header-sub>* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;

    padding: 2px 10px;
}

/* Buttons */
.button-container {
    display: flex;
    background: -webkit-linear-gradient(bottom,
            hsl(0, 0%, 0%) 0%,
            hsl(0, 0%, 10%) 5%,
            hsl(0, 0%, 20%) 80%,
            hsl(0, 0%, 80%) 100%);

    border-radius: 5px;
    padding: 2px;
}

.button-elemental {
    color: white;
    background: -webkit-linear-gradient(bottom,
            hsl(0, 0%, 15%) 0%,
            hsl(0, 0%, 25%) 25%,
            hsl(0, 0%, 28%) 50%,
            hsl(0, 0%, 25%) 75%,
            hsl(0, 0%, 15%) 100%);

    border-width: 0px;
    border-radius: 3px;
}
