#root {
    width: 100vw;
    height: 100vh;
}

.app-main {
    width: 100%;
    height: 100%;
}

/* Flex Classes */
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0;
    margin: 0 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0;
    margin: 0 0;
}

.flex-left {
    display: flex;

    justify-content: flex-start;
    justify-items: flex-start;
    padding: 0 0;
    margin: 0 0;
}

.flex-right {
    display: flex;

    justify-content: flex-end;
    justify-items: flex-end;
    padding: 0 0;
    margin: 0 0;
}

.header-flex,
.header-sub {
    flex-grow: 1;
    flex-basis: content;
    align-items: baseline;
}

.header-flex > *,
.header-sub > * {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;

    padding: 2px 10px;
}

.node-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    /*height: auto !important;*/
}

.node-signals {
    width: 100%;
    padding-top: 5px;
}

.node-outputs {
    width: 100%;
    padding-bottom: 5px;
}

.bridge-node-container {
    width: 100%;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*gap: 10px;*/
    height: 100px;
    /*height: auto !important;*/
}

.handle-label-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    min-height: 24px;
}

.label-item {
    position: relative;
    background-color: transparent !important;
    /*padding: 0 6px;*/
    font-size: 12px;
}

.output-label-item {
    position: relative;
    background-color: transparent !important;
    /*padding: 0 6px;*/
    font-size: 12px;
}

.node-content {
    position: relative;
    min-height: 80px;
}

.handle-container {
    position: relative;
    width: 100%;
    padding-top: 15px;
}

.label-item {
    position: inherit;
    top: 5px;
    left: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    /*padding: 2px 6px;*/
    border-radius: 3px;
    font-size: 11px;
    padding: 0 0;
    margin: 0 0;
}

.output-label-item {
    position: absolute;
    top: 5px;
    right: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    /*padding: 2px 6px;*/
    border-radius: 3px;
    font-size: 11px;

    padding: 0 0;
    margin: 0 0;
}

.dark .label-item,
.dark .output-label-item {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.button-container {
    display: flex;
    background: -webkit-linear-gradient(bottom,
    hsl(0, 0%, 0%) 0%,
    hsl(0, 0%, 10%) 5%,
    hsl(0, 0%, 20%) 80%,
    hsl(0, 0%, 80%) 100%);

    border-radius: 5px;
    padding: 2px;
}

.button-elemental {
    color: white;
    background: -webkit-linear-gradient(bottom,
    hsl(0, 0%, 15%) 0%,
    hsl(0, 0%, 25%) 25%,
    hsl(0, 0%, 28%) 50%,
    hsl(0, 0%, 25%) 75%,
    hsl(0, 0%, 15%) 100%);

    border-width: 0px;
    border-radius: 3px;
}